<span id="id_css"></span>
<span id="navtopright">[<a href="javascript:void(0);" id="settingsWindowLink">Settings</a>]</span>
<div id="boardNavMobile" class="mobile">
    <div class="boardSelect"> <strong>Board</strong> <select id="boardSelectMobile"></select> </div>
    <div class="pageJump"> <a href="#bottom">&#9660;</a> <a href="javascript:void(0);" id="settingsWindowLinkMobile">Settings</a> <a href="/" target="_top">Home</a> </div>
</div>
<div class="boardBanner">
    <div id="bannerCnt" class="title desktop" data-src="1.png"></div>
    <div class="boardTitle">/{{> page_board}}/ - Mitsuba Archive</div>
</div>