<meta charset="utf-8">
<meta name="robots" content="noarchive">
<meta name="description" content="{{> page_content}} - Mitsuba Archive">
<meta name="keywords" content="imageboard,4chan">
<meta name="referrer" content="origin">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="shortcut icon" href="/static/image/favicon-ws.ico">
<link rel="stylesheet" title="switch" href="/static/css/yotsubluenew.699.css">
<link rel="alternate stylesheet" style="text/css" href="/static/css/yotsubanew.699.css" title="Yotsuba New">
<link rel="alternate stylesheet" style="text/css" href="/static/css/yotsubluenew.699.css" title="Yotsuba B New">
<link rel="alternate stylesheet" style="text/css" href="/static/css/futabanew.699.css" title="Futaba New">
<link rel="alternate stylesheet" style="text/css" href="/static/css/burichannew.699.css" title="Burichan New">
<link rel="alternate stylesheet" style="text/css" href="/static/css/photon.699.css" title="Photon">
<link rel="alternate stylesheet" style="text/css" href="/static/css/tomorrow.699.css" title="Tomorrow">
<link rel="stylesheet" href="/static/css/yotsubluemobile.699.css">
<style type="text/css">.posteruid .hand {padding: 0 5px; border-radius: 6px; font-size: 0.8em;}</style>

<title>{{> page_title}} - Mitsuba Archive</title>

<script type="text/javascript">
    var mitsuba_board = "{{> page_board}}";
    var style_group = "ws_style", cssVersion = 699,
    jsVersion = 1051, comlen = 2000, 
    maxFilesize = 4194304, maxLines = 100, clickable_ids = 1, 
    cooldowns = { "thread": 600, "reply": 60, "image": 60 };
    var maxWebmFilesize = 3145728; 
    var board_archived = true; var sjis_tags = true; var spoilers = true; var check_for_block = 1;
</script>
<script type="text/javascript" data-cfasync="false" src="/static/js/core.1066.js"></script>
<script type="text/javascript" data-cfasync="false" src="/static/js/extension.js"></script>

<noscript>
    <style type="text/css">
        #postForm {
            display: table !important;
        }

        #g-recaptcha {
            display: none;
        }
    </style>
</noscript>