{{#*inline "page_title"}}/{{board}}/ - {{#if op.sub}}{{shorten 25 op.sub}}{{else}}{{shorten 25 op.com}}{{/if}}{{/inline}}
{{#*inline "page_content"}}{{shorten 25 op.sub}} - /{{board}}/{{/inline}}
{{#*inline "page_board"}}{{board}}{{/inline}}
{{#*inline "page_body"}}
<body class="is_thread board_{{board}}">
    {{> board_header}}
    <hr class="desktop" id="op">
    <div class="navLinks desktop">
        [<a href="/{{board}}/1" accesskey="a">Return</a>] [<a href="#bottom">Bottom</a>]<div class="thread-stats"><span class="ts-replies" data-tip="Replies">{{op.replies}}</span> / <span class="ts-images" data-tip="Images">{{op.images}}</span> / <span data-tip="Posters" class="ts-ips">{{op.unique_ips}}</span></div>
    </div>
    <hr>
    <form name="delform" id="delform" method="post">
        <div class="board">
            <div class="thread" id="t{{op.no}}">
                {{> op_post}}
                {{#each posts}}
                {{> post}}
                {{/each}}
            </div>
            <hr>
            <div class="navLinks navLinksBot desktop">[<a href="/{{board}}/" accesskey="a">Return</a>] [<a href="/{{board}}/catalog">Catalog</a>] [<a href="#top">Top</a>] </div>
            <hr class="desktop">
        </div>
    </form>
    <div id="bottom"></div>
    {{> mod_tools_form}}
</body>
{{/inline}}
{{#*inline "extra_head"}}
{{/inline}}
{{> root}}