body.hasDropDownNav {
  margin-top: 45px;
}
.extButton.threadHideButton {
  float: left;
  margin-right: 5px;
  margin-top: -1px;
}
.extButton.replyHideButton {
  margin-top: 1px;
}
div.op > span .postHideButtonCollapsed {
  margin-right: 1px;
}
.dropDownNav #boardNavMobile {
  display: block !important;
}
.extPanel {
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.tomorrow .extPanel {
  border: 1px solid #111;
}
.extButton,
img.pointer {
  width: 18px;
  height: 18px;
}
.extControls {
  display: inline;
  margin-left: 5px;
}
.extButton {
  cursor: pointer;
  margin-bottom: -4px;
}
.trashIcon {
  width: 16px;
  height: 16px;
  margin-bottom: -2px;
  margin-left: 5px;
}
.threadUpdateStatus {
  margin-left: 0.5ex;
}
.futaba_new .stub,
.burichan_new .stub {
  line-height: 1;
  padding-bottom: 1px;
}
.stub .extControls,
.stub .wbtn,
.stub input {
  display: none;
}
.stub .threadHideButton {
  float: none;
  margin-right: 2px;
}
.right {
  float: right;
}
.center {
  display: block;
  margin: auto;
}
.pointer {
  cursor: pointer;
}
.drag {
  cursor: move !important;
  user-select: none !important;
  -moz-user-select: none !important;
  -webkit-user-select: none !important;
}
#quickReply {
  display: block;
  position: fixed;
  padding: 2px;
  font-size: 10pt;
}
#qrepHeader,
#qrHeader {
  font-size: 10pt;
  text-align: center;
  margin-bottom: 1px;
  padding: 0;
  height: 18px;
  line-height: 18px;
}
#qrHeader .left {
  float: left;
  margin-left: 3px;
}
#qrepClose,
#qrClose {
  float: right;
}
#qrCaptchaContainer {
  height: 78px;
}
#qrForm > div {
  clear: both;
}
#quickReply input[type="text"],
#quickReply textarea,
#quickReply #recaptcha_response_field {
  border: 1px solid #aaa;
  font-family: arial, helvetica, sans-serif;
  font-size: 10pt;
  outline: medium none;
  width: 296px;
  padding: 2px;
  margin: 0 0 1px 0;
}
.tomorrow #quickReply input[type="text"],
.tomorrow #quickReply textarea,
.tomorrow #quickReply #recaptcha_response_field {
  border: 1px solid #515151;
  background-color: #282a2e;
  color: #c5c8c6;
}
.tomorrow #quickReply input[type="text"]:focus,
.tomorrow #quickReply textarea:focus {
  border: 1px solid #757575;
}
#quickReply textarea {
  min-width: 296px;
  float: left;
}
.tomorrow #quickReply input::placeholder {
  color: 919191 !important;
}
#quickReply input[type="submit"] {
  width: 75px;
  margin: 0;
  float: right;
}
#quickReply #qrCapField {
  display: block;
  margin-top: 1px;
}
#qrCaptchaContainer > div > div {
  width: 300px !important;
}
#quickReply input.presubmit {
  margin-right: 1px;
  width: 212px;
  float: left;
}
#qrFile {
  width: 130px;
  margin-right: 5px;
}
.yotsuba_new #qrFile {
  color: black;
}
#qrSpoiler {
  display: inline;
}
#qrError {
  width: 292px;
  display: none;
  font-family: monospace;
  background-color: #e62020;
  font-size: 12px;
  color: white;
  padding: 3px 5px;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  clear: both;
}
#qrError a:hover,
#qrError a {
  color: white !important;
  text-decoration: underline;
}
#twHeader {
  font-weight: bold;
  text-align: center;
  height: 17px;
}
.futaba_new #twHeader,
.burichan_new #twHeader {
  line-height: 1;
}
#twPrune {
  margin-left: 3px;
  margin-top: -1px;
}
#twClose {
  float: left;
  margin-top: -1px;
}
#threadWatcher {
  max-width: 265px;
  display: block;
  position: absolute;
  padding: 3px;
}
#watchList {
  margin: 0;
  padding: 0;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
#watchList li:first-child {
  margin-top: 3px;
  padding-top: 2px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.photon #watchList li:first-child {
  border-top: 1px solid #ccc;
}
.yotsuba_new #watchList li:first-child {
  border-top: 1px solid #d9bfb7;
}
.yotsuba_b_new #watchList li:first-child {
  border-top: 1px solid #b7c5d9;
}
.tomorrow #watchList li:first-child {
  border-top: 1px solid #111;
}
#watchList a {
  text-decoration: none;
}
#watchList li {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
div.post div.image-expanded {
  display: table;
}
div.op div.file .image-expanded-anti {
  margin-left: -3px;
}
#quote-preview {
  display: block;
  position: absolute;
  top: 0;
  padding: 3px 6px 6px 3px;
  margin: 0;
}
#quote-preview .dateTime {
  white-space: nowrap;
}
#quote-preview.reveal-spoilers s {
  background-color: #aaa !important;
  color: inherit !important;
  text-decoration: none !important;
}
#quote-preview.reveal-spoilers s a {
  background: transparent !important;
  text-decoration: underline;
}
.yotsuba_b_new #quote-preview.reveal-spoilers s a,
.burichan_new #quote-preview.reveal-spoilers s a {
  color: #d00 !important;
}
.yotsuba_new #quote-preview.reveal-spoilers s a,
.futaba_new #quote-preview.reveal-spoilers s a {
  color: #000080 !important;
}
.tomorrow #quote-preview.reveal-spoilers s {
  color: #000 !important;
}
.tomorrow #quote-preview.reveal-spoilers s a {
  color: #5f89ac !important;
}
.photon #quote-preview.reveal-spoilers s a {
  color: #ff6600 !important;
}
.yotsuba_new #quote-preview.highlight,
.yotsuba_b_new #quote-preview.highlight {
  border-width: 1px 2px 2px 1px !important;
  border-style: solid !important;
}
.yotsuba_new #quote-preview.highlight {
  border-color: #d99f91 !important;
}
.yotsuba_b_new #quote-preview.highlight {
  border-color: #ba9dbf !important;
}
.yotsuba_b_new .highlight-anti,
.burichan_new .highlight-anti {
  border-width: 1px !important;
  background-color: #bfa6ba !important;
}
.yotsuba_new .highlight-anti,
.futaba_new .highlight-anti {
  background-color: #e8a690 !important;
}
.tomorrow .highlight-anti {
  background-color: #111 !important;
  border-color: #111;
}
.photon .highlight-anti {
  background-color: #bbb !important;
}
.op.inlined {
  display: block;
}
#quote-preview .inlined,
#quote-preview .postMenuBtn,
#quote-preview .extButton,
#quote-preview .extControls {
  display: none;
}
.hasNewReplies {
  font-weight: bold;
}
.hasYouReplies {
  font-style: italic;
}
.archivelink {
  opacity: 0.5;
}
.deadlink {
  text-decoration: line-through !important;
}
div.backlink {
  font-size: 0.8em !important;
  display: inline;
  padding: 0;
  padding-left: 5px;
}
.backlink.mobile {
  padding: 3px 5px;
  display: block;
  clear: both !important;
  line-height: 2;
}
.op .backlink.mobile,
#quote-preview .backlink.mobile {
  display: none !important;
}
.backlink.mobile .quoteLink {
  padding-right: 2px;
}
.backlink span {
  padding: 0;
}
.burichan_new .backlink a,
.yotsuba_b_new .backlink a {
  color: #34345c !important;
}
.burichan_new .backlink a:hover,
.yotsuba_b_new .backlink a:hover {
  color: #dd0000 !important;
}
.expbtn {
  margin-right: 3px;
  margin-left: 2px;
}
.tCollapsed .rExpanded {
  display: none;
}
#stickyNav {
  position: fixed;
  font-size: 0;
}
#stickyNav img {
  vertical-align: middle;
}
.tu-error {
  color: red;
}
.topPageNav {
  position: absolute;
}
.yotsuba_b_new .topPageNav {
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  border-left: 1px solid rgba(255, 255, 255, 0.25);
}
.newPostsMarker:not(#quote-preview) {
  box-shadow: 0 3px red;
}
#toggleMsgBtn {
  float: left;
  margin-bottom: 6px;
}
.panelHeader {
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.yotsuba_new .panelHeader {
  border-bottom: 1px solid #d9bfb7;
}
.yotsuba_b_new .panelHeader {
  border-bottom: 1px solid #b7c5d9;
}
.tomorrow .panelHeader {
  border-bottom: 1px solid #111;
}
.panelHeader .panelCtrl {
  position: absolute;
  right: 5px;
  top: 5px;
}
.UIMenu,
.UIPanel {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100002;
}
.UIPanel {
  line-height: 14px;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.25);
}
.UIPanel:after {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  content: "";
}
.UIPanel > div {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  height: auto;
  max-height: 100%;
  position: relative;
  width: 400px;
  left: 50%;
  margin-left: -200px;
  overflow: auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  vertical-align: middle;
}
#settingsMenu > div {
  top: 25px;
  vertical-align: top;
  max-height: 85%;
}
.extPanel input[type="text"],
.extPanel textarea {
  border: 1px solid #aaa;
  outline: none;
}
.UIPanel .center {
  margin-bottom: 5px;
}
.UIPanel button {
  display: inline-block;
  margin-right: 5px;
}
.UIPanel code {
  background-color: #eee;
  color: #000000;
  padding: 1px 4px;
  font-size: 12px;
}
.UIPanel ul {
  list-style: none;
  padding: 0;
  margin: 0 0 10px;
}
.UIPanel .export-field {
  width: 385px;
}
#settingsMenu label input {
  margin-right: 5px;
}
.tomorrow #settingsMenu ul {
  border-bottom: 1px solid #282a2e;
}
.settings-off {
  padding-left: 3px;
}
.settings-cat-lbl {
  font-weight: bold;
  margin: 10px 0 5px;
  padding-left: 5px;
}
.settings-cat-lbl img {
  vertical-align: text-bottom;
  margin-right: 5px;
  cursor: pointer;
  width: 18px;
  height: 18px;
}
.settings-tip {
  font-size: 0.85em;
  margin: 2px 0 5px 0;
  padding-left: 23px;
}
#settings-exp-all {
  padding-left: 7px;
  text-align: center;
}
#settingsMenu .settings-cat {
  display: none;
  margin-left: 3px;
}
#tex-preview-cnt .extPanel {
  width: 600px;
  margin-left: -300px;
}
#tex-preview-cnt textarea,
#customCSSMenu textarea {
  display: block;
  max-width: 100%;
  min-width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 200px;
  margin: 0 0 5px;
  font-family: monospace;
}
#tex-preview-cnt textarea {
  height: 75px;
}
#output-tex-preview {
  min-height: 75px;
  white-space: pre;
  padding: 0 3px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#tex-protip {
  font-size: 11px;
  margin: 5px 0;
  text-align: center;
}
a.tex-logo sub {
  pointer-events: none;
}
#customCSSMenu .right,
#settingsMenu .right {
  margin-top: 2px;
}
#settingsMenu label {
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
#filtersHelp > div {
  width: 600px;
  left: 50%;
  margin-left: -300px;
}
#filtersHelp h4 {
  font-size: 15px;
  margin: 20px 0 0 10px;
}
#filtersHelp h4:before {
  content: "»";
  margin-right: 3px;
}
#filtersHelp ul {
  padding: 0;
  margin: 10px;
}
#filtersHelp li {
  padding: 3px 0;
  list-style: none;
}
#filtersMenu table {
  width: 100%;
}
#filtersMenu th {
  font-size: 12px;
}
#filtersMenu tbody {
  text-align: center;
}
#filtersMenu select,
#filtersMenu .fPattern,
#filtersMenu .fBoards,
#palette-custom-input {
  padding: 1px;
  font-size: 11px;
}
#filtersMenu select {
  width: 75px;
}
#filtersMenu tfoot td {
  padding-top: 10px;
}
#keybindsHelp li {
  padding: 3px 5px;
}
.fPattern {
  width: 110px;
}
.fBoards {
  width: 25px;
}
.fColor {
  width: 60px;
}
.fDel {
  font-size: 16px;
}
.filter-preview {
  cursor: pointer;
  margin-left: 3px;
}
#quote-preview iframe,
#quote-preview .filter-preview {
  display: none;
}
.post-hidden .extButton,
.post-hidden:not(#quote-preview) .postInfo {
  opacity: 0.5;
}
.post-hidden:not(.thread) .postInfo {
  padding-left: 5px;
}
.post-hidden:not(#quote-preview) input,
.post-hidden:not(#quote-preview) .replyContainer,
.post-hidden:not(#quote-preview) .summary,
.post-hidden:not(#quote-preview) .op .file,
.post-hidden:not(#quote-preview) .file,
.post-hidden .wbtn,
.post-hidden .postNum span,
.post-hidden:not(#quote-preview) .backlink,
div.post-hidden:not(#quote-preview) div.file,
div.post-hidden:not(#quote-preview) blockquote.postMessage {
  display: none;
}
.click-me {
  border-radius: 5px;
  margin-top: 5px;
  padding: 2px 5px;
  position: absolute;
  font-weight: bold;
  z-index: 2;
  white-space: nowrap;
}
.yotsuba_new .click-me,
.futaba_new .click-me {
  color: #800000;
  background-color: #f0e0d6;
  border: 2px solid #d9bfb7;
}
.yotsuba_b_new .click-me,
.burichan_new .click-me {
  color: #000;
  background-color: #d6daf0;
  border: 2px solid #b7c5d9;
}
.tomorrow .click-me {
  color: #c5c8c6;
  background-color: #282a2e;
  border: 2px solid #111;
}
.photon .click-me {
  color: #333;
  background-color: #ddd;
  border: 2px solid #ccc;
}
.click-me:before {
  content: "";
  border-width: 0 6px 6px;
  border-style: solid;
  left: 50%;
  margin-left: -6px;
  position: absolute;
  width: 0;
  height: 0;
  top: -6px;
}
.yotsuba_new .click-me:before,
.futaba_new .click-me:before {
  border-color: #d9bfb7 transparent;
}
.yotsuba_b_new .click-me:before,
.burichan_new .click-me:before {
  border-color: #b7c5d9 transparent;
}
.tomorrow .click-me:before {
  border-color: #111 transparent;
}
.photon .click-me:before {
  border-color: #ccc transparent;
}
.click-me:after {
  content: "";
  border-width: 0 4px 4px;
  top: -4px;
  display: block;
  left: 50%;
  margin-left: -4px;
  position: absolute;
  width: 0;
  height: 0;
}
.yotsuba_new .click-me:after,
.futaba_new .click-me:after {
  border-color: #f0e0d6 transparent;
  border-style: solid;
}
.yotsuba_b_new .click-me:after,
.burichan_new .click-me:after {
  border-color: #d6daf0 transparent;
  border-style: solid;
}
.tomorrow .click-me:after {
  border-color: #282a2e transparent;
  border-style: solid;
}
.photon .click-me:after {
  border-color: #ddd transparent;
  border-style: solid;
}
#image-hover {
  position: fixed;
  max-width: 100%;
  max-height: 100%;
  top: 0px;
  right: 0px;
  z-index: 9002;
}
.thread-stats {
  float: right;
  margin-right: 5px;
  cursor: default;
}
.compact .thread {
  max-width: 75%;
}
.dotted {
  text-decoration: none;
  border-bottom: 1px dashed;
}
.linkfade {
  opacity: 0.5;
}
#quote-preview .linkfade {
  opacity: 1;
}
kbd {
  background-color: #f7f7f7;
  color: black;
  border: 1px solid #ccc;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 1px 0 #ccc, 0 0 0 2px #fff inset;
  font-family: monospace;
  font-size: 11px;
  line-height: 1.4;
  padding: 0 5px;
}
.deleted {
  opacity: 0.66;
}
div.collapseWebm {
  text-align: center;
  margin-top: 10px;
}
.noPictures a.fileThumb img:not(.expanded-thumb) {
  opacity: 0;
}
.noPictures.futaba_new a.fileThumb,
.noPictures.yotsuba_new a.fileThumb {
  border: 1px solid #800;
}
.noPictures.burichan_new a.fileThumb,
.noPictures.yotsuba_b_new a.fileThumb {
  border: 1px solid #34345c;
}
.noPictures.tomorrow a.fileThumb:not(.expanded-thumb) {
  border: 1px solid #c5c8c6;
}
.noPictures.photon a.fileThumb:not(.expanded-thumb) {
  border: 1px solid #004a99;
}
.spinner {
  margin-top: 2px;
  padding: 3px;
  display: table;
}
#settings-presets {
  position: relative;
  top: -1px;
}
#colorpicker {
  position: fixed;
  text-align: center;
}
.colorbox {
  font-size: 10px;
  width: 16px;
  height: 16px;
  line-height: 17px;
  display: inline-block;
  text-align: center;
  background-color: #fff;
  border: 1px solid #aaa;
  text-decoration: none;
  color: #000;
  cursor: pointer;
  vertical-align: top;
}
#palette-custom-input {
  vertical-align: top;
  width: 45px;
  margin-right: 2px;
}
#qrDummyFile {
  float: left;
  margin-right: 5px;
  width: 220px;
  cursor: default;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#qrDummyFileLabel {
  margin-left: 3px;
}
.depageNumber {
  position: absolute;
  right: 5px;
}
.depagerEnabled .depagelink {
  font-weight: bold;
}
.depagerEnabled strong {
  font-weight: normal;
}
.depagelink {
  display: inline-block;
  padding: 4px 0;
  cursor: pointer;
  text-decoration: none;
}
.burichan_new .depagelink,
.futaba_new .depagelink {
  text-decoration: underline;
}
#customMenuBox {
  margin: 0 auto 5px auto;
  width: 385px;
  display: block;
}
.preview-summary {
  display: block;
}
#swf-embed-header {
  padding: 0 0 0 3px;
  font-weight: normal;
  height: 20px;
  line-height: 20px;
}
.yotsuba_new #swf-embed-header,
.yotsuba_b_new #swf-embed-header {
  height: 18px;
  line-height: 18px;
}
#swf-embed-close {
  position: absolute;
  right: 0;
  top: 1px;
}
#qr-painter-ctrl {
  text-align: center;
}
#qr-painter-ctrl label {
  margin-right: 4px;
}
.open-qr-wrap {
  text-align: center;
  width: 200px;
  position: absolute;
  margin-left: 50%;
  left: -100px;
}
.postMenuBtn {
  margin-left: 5px;
  text-decoration: none;
  line-height: 1em;
  display: inline-block;
  -webkit-transition: -webkit-transform 0.1s;
  -moz-transition: -moz-transform 0.1s;
  transition: transform 0.1s;
  width: 1em;
  height: 1em;
  text-align: center;
  outline: none;
  opacity: 0.8;
}
.postMenuBtn:hover {
  opacity: 1;
}
.yotsuba_new .postMenuBtn,
.futaba_new .postMenuBtn {
  color: #000080;
}
.tomorrow .postMenuBtn {
  color: #5f89ac;
}
.tomorrow .postMenuBtn:hover {
  color: #81a2be;
}
.photon .postMenuBtn {
  color: #ff6600;
}
.photon .postMenuBtn:hover {
  color: #ff3300;
}
.menuOpen {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.settings-sub label:before {
  border-bottom: 1px solid;
  border-left: 1px solid;
  content: " ";
  display: inline-block;
  height: 8px;
  margin-bottom: 5px;
  width: 8px;
}
.settings-sub {
  margin-left: 25px;
}
.settings-tip.settings-sub {
  padding-left: 32px;
}
.centeredThreads .opContainer {
  display: block;
}
.centeredThreads .postContainer {
  margin: auto;
  width: 75%;
}
.centeredThreads .sideArrows {
  display: none;
}
.centre-exp {
  width: auto !important;
  clear: both;
}
.centeredThreads .summary {
  margin-left: 12.5%;
  display: block;
}
.centre-exp div.op {
  display: table;
}
#yt-preview {
  position: absolute;
}
#yt-preview img {
  display: block;
}
.autohide-nav {
  transition: top 0.2s ease-in-out;
}
#feedback {
  position: fixed;
  top: 10px;
  text-align: center;
  width: 100%;
  z-index: 9999;
}
.feedback-notify,
.feedback-error {
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  padding: 3px 6px;
  font-size: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
}
.feedback-error {
  background-color: #c41e3a;
}
.feedback-notify {
  background-color: #00a550;
}
.boardSelect .custom-menu-ctrl,
.boardSelect .customBoardList {
  margin-left: 10px;
}
.boardSelect .custom-menu-ctrl {
  display: none;
}
.boardSelect:hover .custom-menu-ctrl {
  display: inline;
}
.persistentNav .boardList a,
.persistentNav .customBoardList a,
#boardNavMobile .boardSelect a {
  text-decoration: none;
}
@media only screen and (max-width: 480px) {
  .thread-stats {
    float: none;
    text-align: center;
  }
  .ts-replies:before {
    content: "Replies: ";
  }
  .ts-images:before {
    content: "Images: ";
  }
  .ts-ips:before {
    content: "Posters: ";
  }
  .ts-page:before {
    content: "Page: ";
  }
  #threadWatcher {
    max-width: none;
    padding: 3px 0;
    left: 0;
    width: 100%;
    border-left: none;
    border-right: none;
  }
  #watchList {
    padding: 0 10px;
  }
  div.post div.postInfoM span.nameBlock {
    clear: none;
  }
  .btn-row {
    margin-top: 5px;
  }
  .image-expanded .mFileName {
    display: block;
    margin-bottom: 2px;
  }
  .mFileName {
    display: none;
  }
  .mobile-report {
    float: right;
    font-size: 11px;
    margin-bottom: 3px;
    margin-left: 10px;
  }
  .mobile-report:after {
    content: "]";
  }
  .mobile-report:before {
    content: "[";
  }
  .nws .mobile-report:after {
    color: #800000;
  }
  .nws .mobile-report:before {
    color: #800000;
  }
  .ws .mobile-report {
    color: #34345c;
  }
  .nws .mobile-report {
    color: #0000ee;
  }
  .reply .mobile-report {
    margin-right: 5px;
  }
  .postLink .mobileHideButton {
    margin-right: 3px;
  }
  .board .mobile-hr-hidden {
    margin-top: 10px !important;
  }
  .board > .mobileHideButton {
    margin-top: -20px !important;
  }
  .board > .mobileHideButton:first-child {
    margin-top: 10px !important;
  }
  .extButton.threadHideButton {
    float: none;
    margin: 0;
    margin-bottom: 5px;
  }
  .mobile-post-hidden {
    display: none;
  }
  #toggleMsgBtn {
    display: none;
  }
  .mobile-tu-status {
    height: 20px;
    line-height: 20px;
  }
  .mobile-tu-show {
    width: 150px;
    margin: auto;
    display: block;
    text-align: center;
  }
  .button input {
    margin: 0 3px 0 0;
    position: relative;
    top: -2px;
    border-radius: 0;
    height: 10px;
    width: 10px;
  }
  .UIPanel > div {
    width: 320px;
    margin-left: -160px;
  }
  .UIPanel .export-field {
    width: 300px;
  }
  .yotsuba_new #quote-preview.highlight,
  #quote-preview {
    border-width: 1px !important;
  }
  .yotsuba_new #quote-preview.highlight {
    border-color: #d9bfb7 !important;
  }
  #quickReply input[type="text"],
  #quickReply textarea,
  .extPanel input[type="text"],
  .extPanel textarea {
    font-size: 16px;
  }
  #quickReply {
    position: absolute;
    left: 50%;
    margin-left: -154px;
  }
  .m-dark .button {
    background-color: rgb(27, 28, 30);
    background-image: url("//s.4cdn.org/image/buttonfade-dark.png");
    background-repeat: repeat-x;
    border: 1px solid #282a2e;
  }
  .depaged-ad {
    margin-top: -25px;
    margin-bottom: -25px;
  }
  .depageNumber {
    font-size: 10px;
    margin-top: -21px;
  }
  .m-dark a,
  .m-dark div#absbot a {
    color: #81a2be !important;
  }
  .m-dark a:hover {
    color: #5f89ac !important;
  }
  .m-dark .button a,
  .m-dark .button:hover,
  .m-dark .button {
    color: #707070 !important;
  }
  .m-dark #boardNavMobile {
    background-color: #1d1f21;
    border-bottom: 2px solid #282a2e;
  }
  body.m-dark {
    background: #1d1f21 none;
    color: #c5c8c6;
  }
  .m-dark #globalToggle {
    background-color: #ffadad;
    background-image: url("//s.4cdn.org/image/buttonfade-red.png");
    border: 1px solid #c45858;
    color: #880000 !important;
  }
  .m-dark .boardTitle {
    color: #c5c8c6;
  }
  .m-dark .mobile-report {
    color: #81a2be !important;
  }
  .m-dark .mobile-report:after,
  .m-dark .mobile-report:before {
    color: #1d1f21 !important;
  }
  .m-dark hr,
  .m-dark div.board > hr {
    border-top: 1px solid #282a2e;
  }
  .m-dark div.opContainer,
  .m-dark div.reply {
    background-color: #282a2e;
    border: 1px solid #2d2f33 !important;
  }
  .m-dark .preview {
    background-color: #282a2e;
    border: 1px solid #333 !important;
  }
  .m-dark div.post div.postInfoM {
    background-color: #212326;
    border-bottom: 1px solid #2d2f33;
  }
  .m-dark div.postLink,
  .m-dark .backlink.mobile {
    background-color: #212326;
    border-top: 1px solid #2d2f33;
  }
  .m-dark div.post div.postInfoM span.dateTime,
  .m-dark div.postLink span.info,
  .m-dark div.post div.postInfoM span.dateTime a {
    color: #707070 !important;
  }
  .m-dark span.subject {
    color: #b294bb !important;
  }
  .m-dark .highlightPost:not(.op) {
    background: #3a171c !important;
  }
  .m-dark .reply:target,
  .m-dark .reply.highlight {
    background: #1d1d21 !important;
    padding: 2px;
  }
  .m-dark .reply:target,
  .m-dark .reply.highlight {
    background: #1d1d21 !important;
    padding: 2px;
  }
}
